input, select{
    width: 90%;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}

input::placeholder, select::placeholder{
    color: #fff;
    opacity: 0.5;
}

input:focus, select:focus{
    border: none;
    border-bottom: 1px solid #fff;
    transition: border-bottom .2s ease-in;
}

input:hover, select:hover{
    border: none;
    border-bottom: 1px solid #fff;
    transition: border-bottom .2s ease-in;
}

input[type=checkbox]{
    width: auto;
    margin-right: 10px;
}