:root {
  --gradient: linear-gradient(90deg, #1a427c, #ad19a2, #6b03c1, #7e2854, #762894);

}

.App {
  background: #ddd;
  background-size: 1000%;
  background-image: var(--gradient);
  animation: bg-transition 500s infinite alternate;
  background-attachment: fixed;
  color: rgb(210, 210, 210);
}

@keyframes bg-transition{
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.page-content{
  min-height: calc(100vh - (62px + 154px));
}